@import "../../variables";

.mat-typography {
  color: #777777;
  border-top: 1px solid #f1f1f1;
  margin: 0;

  .footer {
    padding: 5px;
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    text-size-adjust: 100%;

    .footer-title {
      margin-bottom: 5px;
    }

    p {
      margin: 0;
    }

    a {
      color: rgb(85, 84, 84);
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    .mat-icon {
      font-size: 15px;
      vertical-align: middle;
      line-height: 22px;
      width: 16px;

      @media only screen and (min-width: $mobile-max-width) {
        font-size: 16px;
        line-height: 20px;
        width: 24px;
      }
    }

    @media only screen and (min-width: $mobile-max-width) {
      padding: 10px;
      font-size: 12px;
    }

  }

  

  .follow-me {
    display: none;

    @media only screen and (min-width: $mobile-max-width) {
      display: inherit;
      margin-top: 4px;
      text-align: center;
      clear: left;
      font-size: 10px;
      font-family: arial;

      .heart {
        color: red;
      }

      .sign {
        color: #4C8AFC;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    
  }
}
