.mat-typography {
  background-color: #374551;
  color: lightgrey;
  border-top: 1px solid #f1f1f1;
  margin: 0;

  .footer {
    padding: 20px;
  }

  a {
    color: lightgrey;
    text-decoration: none;
  }

  .mat-icon {
    vertical-align: middle;
    margin: 2px 5px;
}
  
}
