<section class="mat-typography">
  <footer class="footer">
    <strong>Contact Info</strong><br>
    <p><mat-icon>location_on</mat-icon><a href="https://goo.gl/maps/AM7NQrBfhRH2" target="_blank">1234 rue Sainte Catherine Montréal</a></p>
    <p><mat-icon>smartphone</mat-icon><a href="tel:1-438.927.1234">1-438.927.1234</a></p>
    <p><mat-icon>email</mat-icon><a href="mailto:angularblog@gmail.com">angularblog@gmail.com</a></p>
    <p>Copyright © 2019 AngularBlog - Centre Ville et Le Plateau à Montréal. Tous droits réservés.</p>
    
    <!-- follow me template -->
    <div class="follow-me">
      Made with <span class="heart">♥</span> by <a class="sign" target="_blank" href="https://github.com/nicolastrote">Nicolas Trote</a>
    </div>
  </footer>
</section>
