<section class="mat-typography">
  <footer class="footer">
    <strong>Contact Info</strong><br>
    <p>3627 rue Saint Denis (Centre Altho) Montréal</p>
    <p>23 rue rachel Ouest (Clinique corps Plus) Montréal</p>
    <p class="p-mat-icon"><mat-icon>smartphone</mat-icon><span>438.927.2535</span></p>
    <p class="p-mat-icon"><mat-icon>email</mat-icon><a href="mailto:massotherapiecoaching@gmail.com">massotherapiecoaching@gmail.com</a></p>
    <p>Copyright © 2018 Massothérapie - Centre Ville et Le Plateau à Montréal. Tous droits réservés.</p>
  </footer>
</section>
