@import "../../variables";

// Mobile Menu
.sidenav {
  width: 200px;
  background: #974aa5;
  color: white;
  font-size: 18px;
  font-weight: 300;
  line-height: 48px;

  .mat-toolbar {
    background: #ba68c8ed;
    color: white;
  }

  .mat-toolbar a {
    display: inline-block;
    margin: 0 0 0 30px;
    color: white;
    text-decoration: none;
  }
}

.hidden {
  display: none;
}

// Header Menu
.nav-extended {
  height: auto;
  position: relative;
  top: 0;
  background-color: #ba68c8;
  transition: background-color .3s, opacity .2s, visibility 0s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  line-height: 56px;
  color: #fff;
  width: 100%;

  @media only screen and (min-width: 601px) {
    line-height: 64px;
  }
}

// Menu Header
.mat-toolbar {
  display: flex;
  flex-direction: row;

  @media only screen and (min-width: 600px) {
    justify-content: space-between;
  }
}

// Menu Hamburger Button
.mat-toolbar .mat-icon-button {
  margin: 0 18px 0 0;
  color: white;
  background-color: transparent;
}

.brand-logo {
  color: #fff;
  font-size: 2.1rem;
}

.mat-nav-list-header {
  display: inline-flex;
  list-style-type: none;

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  a {
    display: block;
    padding: 0 15px;
    color: #fff;
    font-family: 'Lato';
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;

    a:active:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background-color: #fff;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .mat-list-item-content {
      position: relative;
    }
  }
}

.nav-wrapper {
  position: relative;
  min-height: 64px;
  height: auto;
  width: 90%;
  margin: 0 auto;

  @media only screen and (min-width: 600px) {
    width: 70%;
  }
}

// Main Header Title
.nav-header {
  word-break: break-word;
  clear: both;
  padding: 40px 0;
  text-align: center;
}

.ge {
  display: block;
  margin: -40px 0 40px 0;
  font-family: 'Lato';
  font-size: 15px;
  font-weight: 400;
  color: rgba(255,255,255,0.8);
}
