
// Typography
$base-font-family: "Roboto", Arial, sans-serif;

// Text Color
$text-color: #484848;

// Menu color
$menu-color: #E2E1DC;

// Media size
$mobile-lg-width: 600px;

// Shadow
$shadow-box: 0 2px 12px 0 rgba(95, 113, 126, 0.19);
