<section>


  <div class="home-title">
    <h1>I MAKE BIG THINGS</h1>
    <p>My Portfolio is full of Interesting Informations</p>
  </div>


  <div class="cards" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="20px" fxLayoutGap.gt-xs="20px" fxLayoutAlign="space-around">
    <mat-card>
      <img mat-card-image src="https://picsum.photos/400/251">
      <mat-card-title>Activity 1</mat-card-title>
      <mat-card-content>
        Lorem ipsum dolor sit amet, mei ne dicam suavitate, sit ea virtute officiis temporibus.
        Tota iisque ne eos. Nec ex prompta impedit corpora, mandamus incorrupte at cum.
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-image src="https://picsum.photos/400/252">
      <mat-card-title>Activity 2</mat-card-title>
      <mat-card-content>
        Lorem ipsum dolor sit amet, mei ne dicam suavitate, sit ea virtute officiis temporibus.
        Tota iisque ne eos. Nec ex prompta impedit corpora, mandamus incorrupte at cum.
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img mat-card-image src="https://picsum.photos/400/253">
      <mat-card-title>Activity 3</mat-card-title>
      <mat-card-content>
        Lorem ipsum dolor sit amet, mei ne dicam suavitate, sit ea virtute officiis temporibus.
        Tota iisque ne eos. Nec ex prompta impedit corpora, mandamus incorrupte at cum.
      </mat-card-content>
    </mat-card>
  </div>

  <div class="home-staff" fxLayout="column" fxLayoutAlign="center">
    <h1>YOUR THERAPIST</h1>
    <p>Lorem ipsum dolor sit amet, mei ne dicam suavitate, sit ea virtute officiis temporibus.
      Tota iisque ne eos.
    </p>
    <mat-card  class="card-home-staff">
      <img mat-card-image src="assets/img/maellig-lemezec-400.png" alt="Maellig Le Mezec picture" >
      <mat-card-title>Maellig Le Mezec</mat-card-title>
      <mat-card-content>Massage therapist</mat-card-content>
      <div class="mat-icon-list" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around">
          <a href="https://www.facebook.com/massotherapiecoaching/" target="_blank"><mat-icon svgIcon="facebook-box" aria-label="facebook icon"></mat-icon></a>
          <a href="https://www.linkedin.com/in/maellig-le-mezec/" target="_blank"><mat-icon svgIcon="linkedin-box" aria-label="linkedin icon"></mat-icon></a>
          <a href="mailto:massotherapiecoaching@gmail.com" target="_blank"><mat-icon svgIcon="email" aria-label="email icon"></mat-icon></a>
          <a href="https://www.gorendezvous.com/maellig.lemezec" target="_blank"><mat-icon svgIcon="alpha-g-circle" aria-label="gofobo icon"></mat-icon></a>          
      </div>      
    </mat-card>
  </div>


</section>
