.mat-typography {
  margin: 20px;
  height: 400px;
}

.cards {
  margin: 20px;
}

mat-card {
  // margin: 20px auto;
  max-width: 400px,
}

.home-title {
  padding-top: 50px;
  height: 260px;
  text-align: center;
}

.home-staff {
  text-align: center;
}

.card-home-staff {
  margin: 0 auto;
  background: transparent;
  box-shadow: none;

  mat-card-title {
    position: relative;
    text-transform: uppercase;

    &:before {
      position: absolute;
      z-index: 1;
      bottom: -4px;
      left: 12.5%;
      width: 75%;
      height: 2px;
      margin: auto;
      background: #e96656;
      content: "";
    }
  }

  mat-card-content {
    font-size: 13px;
  }

  img {
    margin: 15px;
    width: 174px;
    height: 174px;
  }
}

.mat-icon-list {
  mat-icon {
    transition: all 700ms;
    color: #808080;

    &:hover {
      color: #e96656;
    }
  }
}
